/*========================================== General application-wide styles */
body { background-color: #dadada;}

p { margin-bottom: 10px; }

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.content {
  background: #fff;
  padding: 40px;
  margin: 40px auto;
  width: 880px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
}

.content .block {
  margin-top: 2ex;
}

#footer {
  margin: 0 auto;
  width: 880px;
  text-align: right;
  font-size: 80%;
  color: #888;
}