<h1>Welcome to <%= Core::VERSION.string %></h1>

<div class="portlet">
  <div class="head">Dradis server</div>
<!--
  <ul>
    <li>
      <div class="feature">Interface improvements</div>
      <ul>
        <li>New <em>email-like</em> layout with a preview panel.</li>
        <li>New <strong>Note Editor</strong> with formatting support.</li>
        <li>Keep track of all the activity with the built-in <strong>RSS feed</strong>.</li>
        <li>New <strong>Wizard</strong> for first-time users.</li>
      </ul>
    </li>
    <li>
      <div class="feature">Rake tasks</div>
      <ul>
        <li><strong>dradis:reset</strong> now creates a backup of the project
        and clears the old log files by default.</li>
      </ul>
    </li>

  </ul>
</div>
<div class="portlet">
  <div class="head">dradis-server (cont.)</div>
-->
  <ul>
    <li>
      <div class="feature">New plugins</div>
      <ul>
        <li><a href="http://www.eeye.com/products/retina/retina-network-scanner">Retina Network Security Scanner</a> upload plugin.</li>
        <li><a href="https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project">Zed Attack Proxy</a> upload plugin.</li>
      </ul>
    </li>

    <li>
      <div class="feature">Updated plugins</div>
      <ul>
        <li><a href="http://www.nessus.org/products/nessus">Nessus</a> upload plugin is orders of magnitude faster.</li>
        <li><a href="http://cirt.net/nikto2">Nikto</a> upload plugin is orders of magnitude faster.</li>
        <li><a href="http://nmap.org">Nmap</a> upload plugin is orders of magnitude faster.</li>
        <li><strong>VulnDB</strong> import plugin (to support <a href="http://vulndbhq.com">VulnDB HQ</a> integration)</li>
      </ul>
    </li>

    <li>
      <div class="feature">Internals</div>
      <ul>
        <li>Updated First Time User's Wizard (check it out at <a href="wizard" target="_blank">/wizard</a>).</li>
        <li>Updated to Rails 3.2</li>
      </ul>
    </li>
  </ul>
</div>
<!--
<div class="portlet">
  <div class="head">meta</div>
  <ul>
    <li>
      <div class="feature">Start-up scripts</div>
      <ul>
        <li>./verify.sh ensures that libxml2 is installed</li>
      </ul>
    </li>
    <li>
      <div class="feature">Windows installer</div>
      <ul>
        <li>Updated to Ruby 1.8.7 p352</li>
        <li>Install the Ruby DevKit to support native gem compilation</li>
      </ul>
    </li>

  </ul>
</div>
-->
<!--
<div class="portlet">
  <div class="head">Meta-Server</div>
  <ul>
    <li>
      <span>introduction</span>
      <div></div>
    </li>
  </ul>
</div>
-->

<div class="portlet" style="border: 0;">
  <ul>
    <li>
      <div class="feature">More information</div>
      <ul style="list-style: none;">
        <li><a href="http://dradisframework.org/">Project Site</a></li>
        <li><a href="http://guides.dradisframework.org/">Dradis Guides</a></li>
        <li><a href="http://dradisframework.org/community/">Community Forums</a></li>
        <li><a href="http://dradisframework.uservoice.com/">Feature requests</a></li>
        <li>Found a bug? <a href="https://github.com/dradis/dradisframework/issues">report it</a>.</li>
        <li>IRC: <strong>#dradis</strong> @irc.freenode.org</li>
      </ul>
    </li>
  </ul>
</div>
