<p>This server doesn't have a password yet, please set up one:</p>
<% form_for :password, :url => { :action => 'setup' } do |f| -%>
<p><label for="password">Password</label><br/>
<%= f.password_field :value %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :confirm_value %></p>

<div class="right"><%= submit_tag 'Set password', :class => 'submit' %></div>
<% end -%>
