<div class="page-header">
  <h1>Configure the shared password</h1>
</div>

<%= form_tag({action: 'setup'}, {class: 'form-horizontal'}) do -%>
  <p class="lead">This server does not have a password yet, please set up one:</p>
  <% if flash[:alert]%>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
  </div>
  <% end %>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <%= password_field_tag :password, nil %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password_confirmation">Confirm Password</label>
    <div class="controls">
      <%= password_field_tag :password_confirmation, nil %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Set password and continue</button>
    </div>
  </div>
<% end -%>