<%= form_tag session_path do -%>
  <label for="username">Username</label>
  <%= text_field_tag 'username', nil, placeholder: 'Choose your username' %></p>

  <label for="password">Password</label>
  <%= password_field_tag 'password' %>

  <div>
  <%= submit_tag 'Log in', class: 'btn' %>
  </div>
<% end -%>

<p><strong>Not familiar with Dradis?</strong><br/>
Checkout the <a href="http://guides.dradisframework.org">Getting started</a> guide.</p>