<section id="content">
  <%= form_tag session_path do -%>
    <h1>Dradis Login</h1>

    <div>
      <%= text_field_tag 'username', nil, required: '', placeholder: 'Choose your username' %></p>
    </div>

    <div>
      <%= password_field_tag 'password', required: '' %>
    </div>

    <div>
      <%= submit_tag 'Log in' %>
    </div>
  <% end -%>

  <div class="button">
    <p><strong>Not familiar with Dradis?</strong></p>
    <p>Checkout the <a href="http://guides.dradisframework.org">Getting started</a> guide.</p>
    <br/>
  </div>
</section>
