<h1>Upload Manager</h1>

<p>Use the form below to upload output files from other tools. Once you have 
uploaded them you can process with the different plugins available. </p>

<div class="block">
  <% form_tag '/upload/create', :multipart => true do %>
    <%= select_tag  'uploader', options_from_collection_for_select( Plugins::Upload::included_modules, 'name', 'name' ) %>
    <%= file_field_tag 'file' %>
    <%= hidden_field_tag 'item_id' %>
    <%= hidden_field_tag 'format', 'js' %>
  <% end %>
</div>

<div id="files" class="block">
</div>
