noscript p {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  padding: 0.5ex;
}

.add { 
  background-image: url(../images/silk/add.png) !important;
}
.import { 
  background-image: url(../images/import.gif) !important;
}
.export { 
  background-image: url(../images/export.png) !important;
}
.edit { 
  background-image: url(../images/edit.gif) !important;
}
.del { 
  background-image: url(../images/silk/delete.png) !important;
}
.options { 
  background-image: url(../images/list-items.gif) !important;
}
.error { 
  background-image: url(../images/silk/exclamation.png) !important;
  background-repeat: no-repeat; 
}
.talleditor { height: 240px; }
