noscript p {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  padding: 0.5ex;
}

.add { 
  background-image: url(../images/silk/add.png) !important;
}
.import { 
  background-image: url(../images/import.gif) !important;
}
.export { 
  background-image: url(../images/export.png) !important;
}
.edit { 
  background-image: url(../images/edit.gif) !important;
}
.del { 
  background-image: url(../images/silk/delete.png) !important;
}
.options { 
  background-image: url(../images/list-items.gif) !important;
}
.error { 
  background-image: url(../images/silk/exclamation.png) !important;
  background-repeat: no-repeat; 
}
.talleditor { height: 240px; }

#first_render {
  font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif;
  margin: 3ex;
  overflow: auto;
}
#first_render h1 {
  color: #15428B;
  padding-bottom: 0.5ex;
  border-bottom: 1px solid #D0DEF0;
}

#first_render .portlet {
  border-left: 1px solid #E0EEE0;
  border-bottom: 1px solid #E0EEE0;
  border-right: 1px solid #E0EEE0;
  width: 280px;
  float: left;
  margin-left: 2ex;
  margin-top: 2ex;
} 
#first_render .portlet .head {
  background-color: #D0DEF0;
  /*color: #FFF;*/
  color: #15428B;
  font-weight: bold;
  padding: 0.5ex;
  padding-left: 1ex;
}

#first_render .portlet ul { padding: 0.5ex; }
#first_render .portlet li.featureblock { border-top: 1px solid #EEE;}
#first_render .portlet li .feature { 
  padding: 0.5ex;
  color: #15428B;
  border-bottom: 1px solid #D0DEF0;
}
#first_render .portlet li {margin-top: 0.25ex; } 
#first_render .portlet li a:hover { text-decoration: underline; }
#first_render .portlet li ul { 
  margin: 0.5ex;
  font-size: 80%;
  list-style: lower-roman;
  padding-left: 1.5em;
}

#first_render .portlet li strong { font-weight: bold; }

.x-grid3-row-body { overflow: scroll; }
