/** vim:sw=4:ts=4:fdc=4
 *
 * Mimetypes for FileTree and others
 *
 * $Id: filetype.css 51 2008-03-10 01:52:18Z jozo $
 *
 */

 .file-pdf
,.file-ai
{
	background-image: url(../images/mimetypes/pdf_document.png) ! important;
}
.file-txt {
	background-image: url(../images/mimetypes/txt.png) ! important;
}
 .file-bmp  
,.file-cgm  
,.file-dcm  
,.file-dds  
,.file-exr  
,.file-gif  
,.file-hdr  
,.file-ico  
,.file-jng  
,.file-jp2  
,.file-jpeg  
,.file-jpg  
,.file-pbm  
,.file-pbmraw  
,.file-pcd  
,.file-pcx  
,.file-pgm  
,.file-pgmraw  
,.file-pic  
,.file-png  
,.file-pnm  
,.file-psd  
,.file-raw  
,.file-rgb  
,.file-rgba  
,.file-tga  
,.file-tif  
,.file-tiff  
,.file-xbm  
,.file-xcf  
,.file-xpm  
{
	background-image: url(../images/mimetypes/image.png) ! important;
}
 .file-conf  
,.file-vim 
{
	background-image: url(../images/mimetypes/source.png) ! important;
}
 .file-html  
,.file-htm  
,.file-sgml  
,.file-xhtml  
,.file-xml  
{
	background-image: url(../images/mimetypes/html.png) ! important;
}
.file-sh  {
	background-image: url(../images/mimetypes/shellscript.png) ! important;
}
 .file-3g2 
,.file-3gp 
,.file-asf 
,.file-asx  
,.file-avi  
,.file-flc 
,.file-fli 
,.file-flv 
,.file-mkv 
,.file-mng 
,.file-mp4 
,.file-mpeg 
,.file-mpg 
,.file-ogm 
,.file-rv 
,.file-wmp 
,.file-wmv 
{
	background-image: url(../images/mimetypes/video.png) ! important;
}
 .file-ttf  
,.file-otf 
{
	background-image: url(../images/mimetypes/font_truetype.png) ! important;
}
 .file-exe  
,.file-dll 
{
	background-image: url(../images/mimetypes/exec_wine.png) ! important;
}
 .file-doc  
,.file-odt 
,.file-rtf 
{
	background-image: url(../images/mimetypes/wordprocessing.png) ! important;
}
 .file-xls  
,.file-ods 
,.file-xlc 
,.file-xll 
,.file-xlm 
,.file-xlw 
,.file-wpd 
,.file-abw 
{
	background-image: url(../images/mimetypes/spreadsheet_document.png) ! important;
}
.file-js  {
	background-image: url(../images/mimetypes/source_j.png) ! important;
}
.file-css  {
	background-image: url(../images/mimetypes/source_c.png) ! important;
}
.file-php  {
	background-image: url(../images/mimetypes/source_php.png) ! important;
}
 .file-7z 
,.file-a 
,.file-ace 
,.file-arj  
,.file-bz 
,.file-bz2 
,.file-cpio  
,.file-gz 
,.file-rar 
,.file-tgz 
,.file-tnf 
,.file-z  
,.file-zip  
,.file-zoo  
{
	background-image: url(../images/mimetypes/zip.png) ! important;
}
 .file-ppt  
,.file-odp 
,.file-ppz 
,.file-ppt 
{
	background-image: url(../images/mimetypes/pps.png) ! important;
}
.file-msg  {
	background-image: url(../images/mimetypes/message.png) ! important;
}
 .file-dwg  
,.file-sxd 
,.file-dhw 
,.file-svg 
,.file-ps 
,.file-eps 
,.file-wmf 
,.file-fig 
,.file-msod  
,.file-qpic  
{
	background-image: url(../images/mimetypes/vectorgfx.png) ! important;
}
.file-ics 
{
	background-image: url(../images/mimetypes/vcalendar.png) ! important;
}
 .file-chm 
,.file-info 
,.file-hlp 
,.file-help 
{
	background-image: url(../images/mimetypes/info.png) ! important;
}
 .file-aac 
,.file-ac3 
,.file-aifc 
,.file-aiff 
,.file-ape 
,.file-au 
,.file-flac 
,.file-m3u 
,.file-m4a 
,.file-mac 
,.file-mid 
,.file-midi 
,.file-mp2 
,.file-mp3 
,.file-ogg 
,.file-psid 
,.file-ra 
,.file-ram 
,.file-sf 
,.file-sid 
,.file-spx 
,.file-wav 
,.file-wma 
,.file-wv 
,.file-wvc 
{
	background-image: url(../images/mimetypes/sound.png) ! important;
}
 .file-asc 
,.file-cer 
,.file-cert 
,.file-crt 
,.file-der 
,.file-gpg 
,.file-gpg 
,.file-p10 
,.file-p12 
,.file-p7c 
,.file-p7m 
,.file-p7s 
,.file-pem 
,.file-sig 
{
	background-image: url(../images/mimetypes/file_locked.png) ! important;
}
 .file-bin 
,.file-cue 
,.file-img 
,.file-iso 
,.file-mdf 
,.file-nrg 
{
	background-image: url(../images/mimetypes/cdimage.png) ! important;
}
 .file-jar 
,.file-java 
,.file-class 
{
	background-image: url(../images/mimetypes/java_src.png) ! important;
}
.file-sql 
{
	background-image: url(../images/mimetypes/source_s.png) ! important;
}
 .file-moov 
,.file-mov 
,.file-qt 
{
	background-image: url(../images/mimetypes/quicktime.png) ! important;
}

/* eof */
