/*  
// Icon Classes */
.icon-ob {
	background-image:url(../img/icons/ob_16.png) ! important;
}
.icon-graph {
	background-image:url(../images/silk/chart_curve.png) ! important;
}
.icon-chart {
	background-image:url(../images/silk/chart_bar.png) ! important;
}
.icon-prefs {
	background-image:url(../images/silk/application_form.png) ! important;
}
.icon-ok {
	background-image:url(../img/icons/ok16.png) ! important;
}
.icon-view-tile {
	background-image:url(../images/silk/application_view_tile.png) ! important;
}
.icon-check, .icon-check-off {
	background-image:url(../ext/resources/images/default/menu/unchecked.gif) ! important;
}
.icon-check-on {
	background-image:url(../ext/resources/images/default/menu/checked.gif) ! important;
}
.icon-stat-data {
	background-image:url(../img/icons/kate_16.png) ! important;
}
.icon-rename {
	background-image:url(../images/silk/textfield_rename.png) ! important;
}
.icon-add-col {
	background-image:url(../images/silk/page_white_add.png) ! important;
}
.icon-del-col {
	background-image:url(../images/silk/page_white_delete.png) ! important;
}
.icon-save-table {
	background-image:url(../images/silk/table_save.png) ! important;
}
.icon-add-tab {
	background-image:url(../images/silk/tab_add.png) ! important;
}
.icon-del-tab {
	background-image:url(../images/silk/tab_delete.png) ! important;
}
.icon-go-tab {
	background-image:url(../images/silk/tab_go.png) ! important;
}
.icon-add-table {
	background-image:url(../images/silk/table_add.png) ! important;
}
.icon-del-table {
	background-image:url(../images/silk/table_delete.png) ! important;
}
.icon-admin {
	background-image:url(../img/icons/adv_settings_16.png) ! important;
}
.icon-grid {
    background-image:url(../images/silk/application_view_columns.png) !important;
}
.icon-key {
	background-image:url(../images/silk/key.png) ! important;
}
.icon-key2 {
	background-image:url(../img/icons/key_16.png) ! important;
}
.icon-expand-all {
	background-image:url(../images/silk/expand-all.gif) ! important;
}
.icon-collapse-all {
	background-image:url(../images/silk/collapse-all.gif) ! important;
}
.icon-expand {
	background-image:url(../img/icons/expand-all.gif) ! important;
}
.icon-collapse {
	background-image:url(../img/icons/collapse-all.gif) ! important;
}
.icon-tree-orgboard {
	background-image:url(../images/silk/chart_organisation.png) ! important;
}
.icon-tree-area {
	background-image:url(../images/silk/post_title.png) ! important;
}
.icon-tree-post {
	background-image:url(../images/silk/page_white.png) ! important;
}
.icon-plus {
	background-image:url(../images/silk/add.png) ! important;
}
.icon-minus {
	background-image:url(../images/silk/delete.png) ! important;
}
.icon-house {
	background-image:url(../img/icons/house_16.png) ! important;
}
.icon-user {
	background-image:url(../img/icons/user2_16.png) ! important;
}
.icon-trash-empty {
	background-image:url(../images/silk/bin_empty.png) ! important;
}
.icon-trash-closed {
	background-image:url(../images/silk/bin_closed.png) ! important;
}
.icon-disk {
	background-image:url(../images/silk/disk.png) ! important;
}
.icon-disk-bullet {
	background-image:url(../images/silk/bullet_disk.png) ! important;
}
.icon-undo {
	background-image:url(../images/silk/arrow_undo.png) ! important;
}
.icon-loading {
	background-image:url(../ext/resources/images/default/grid/grid-loading.gif) ! important;
}
.icon-db-refresh {
	background-image:url(../images/silk/database_refresh.png) ! important;
}
.icon-db-gear {
	background-image:url(../images/silk/database_gear.png) ! important;
}
.icon-magnifier {
	background-image:url(../images/silk/magnifier.png) ! important;
}
.icon-wrench {
	background-image:url(../img/icons/wrench_16.png) ! important;
}
.icon-wrench-orange {
	background-image:url(../images/silk/wrench_orange.png) ! important;
}
.icon-star {
	background-image:url(../images/silk/star.png) ! important;
}
.icon-lock-go {
	background-image:url(../images/silk/lock_go.png) ! important;
}
.icon-group-add {
	background-image:url(../images/silk/group_add.png) ! important;
}
.icon-group-del {
	background-image:url(../images/silk/group_delete.png) ! important;
}
.icon-stat-portal {
	background-image:url(../img/icons/stat_portal_16.png) ! important;
}
.icon-stat-list {
	background-image:url(../img/icons/stat_list_16.png) ! important;
}
.icon-cancel {
	background-image:url(../img/icons/cancel16.png) ! important;
}
.icon-cross {
	background-image:url(../images/silk/cross.png) ! important;
}
.icon-defaults {
	background-image:url(../images/silk/arrow_rotate_clockwise.png) ! important;
}
.icon-load {
	background-image:url(../images/silk/database_go.png) ! important;
}
.icon-reconfigure {
	background-image:url(../images/silk/database_gear.png) ! important;
}
.icon-working {
	background-image:url(../ext/resources/images/default/grid/wait.gif) ! important;
}
.icon-upload {
	background-image:url(../images/up.png) ! important;
}
.icon-folder-add {
	background-image:url(../images/silk/folder_add.png) ! important;
}
.icon-open {
	background-image:url(../images/silk/application_go.png) ! important;
}
.icon-open-self {
	background-image:url(../images/silk/application.png) ! important;
}
.icon-open-popup {
	background-image:url(../images/silk/application_double.png) ! important;
}
.icon-open-blank {
	background-image:url(../images/silk/application_cascade.png) ! important;
}
.icon-open-download {
	background-image:url(../images/silk/application_put.png) ! important;
}
.icon-refresh {
	background-image:url(../images/silk/arrow_refresh.png) ! important;
}
.icon-pencil {
	background-image:url(../images/silk/pencil.png) ! important;
}
.icon-stop {
	background-image:url(../images/silk/control_stop.png) ! important;
}
.icon-email {
	background-image:url(../images/silk/email.png) ! important;
}
.icon-email-compose {
	background-image:url(../images/silk/email_edit.png) ! important;
}
.icon-coins {
	background-image:url(../images/silk/coins.png) ! important;
}
.icon-clock {
	background-image:url(../images/silk/clock.png) ! important;
}
.icon-zoom {
	background-image:url(../images/silk/zoom.png) ! important;
}
.icon-print {
	background-image:url(../images/silk/printer.png) ! important;
}
.icon-folder-component {
	background-image:url(../images/silk/folder_brick.png) ! important;
}
.icon-plugin {
	background-image:url(../images/silk/plugin.png) ! important;
}
.icon-extension {
	background-image:url(../images/silk/brick.png) ! important;
}
.icon-function {
	background-image:url(../images/silk/flag_yellow.png) ! important;
}
.icon-bulb {
	background-image:url(../images/silk/lightbulb.png) ! important;
}
.icon-bulb-off {
	background-image:url(../images/silk/lightbulb_off.png) ! important;
}
.icon-copy {
	background-image:url(../images/silk/page_white_copy.png) ! important;
}
.icon-star {
	background-image:url(../images/silk/award_star_gold_3.png) ! important;
}
.icon-edit-record {
	background-image:url(../images/silk/table_edit.png) ! important;
}
.icon-actions {
	background-image:url(../images/silk/lightning.png) ! important;
}
.icon-form-add {
	background-image:url(../images/silk/layout_add.png) ! important;
}
.icon-html {
	background-image:url(../images/silk/html.png) ! important;
}
.icon-script {
	background-image:url(../images/silk/script.png) ! important;
}
.icon-php {
	background-image:url(../images/silk/script_code.png) ! important;
}
.icon-css {
	background-image:url(../images/silk/css.png) ! important;
}
.icon-run {
	background-image:url(../images/silk/application_go.png) ! important;
}
.icon-info {
	background-image:url(../images/silk/information.png) ! important;
}
.icon-error {
	background-image:url(../images/silk/cancel.png) ! important;
}
.icon-warn {
	background-image:url(../images/silk/error.png) ! important;
}
.icon-wages {
	background-image:url(../img/icons/euro_16.png) ! important;
}
.icon-calculator {
	background-image:url(../images/silk/calculator.png) ! important;
}
.icon-add-wage {
	background-image:url(../images/silk/coins_add.png) ! important;
}
.icon-del-wage {
	background-image:url(../images/silk/bin_closed.png) ! important;
}
.icon-manual {
	background-image:url(../images/silk/book_open.png) ! important;
}
.icon-lock {
	background-image:url(../img/icons/lock16.png) ! important;
}
.icon-lock-open {
	background-image:url(../img/icons/unlock16.png) ! important;
}
.icon-arrow-down {
	background-image:url(../images/silk/arrow_down.png) ! important;
}
.icon-arrow-right {
	background-image:url(../images/silk/arrow_right.png) ! important;
}
.icon-blank-img {
	background-image:url(../ext/resources/images/default/s.gif) ! important;
}
.icon-delete {
	background-image:url(../images/silk/bin_empty.png) ! important;
}
.icon-tree {
	background-image:url(../img/icons/tree_16.png) ! important;
}
.icon-form-edit {
	background-image:url(../images/silk/application_form_edit.png) ! important;
}
.icon-form-add {
	background-image:url(../images/silk/application_form_add.png) ! important;
}
.icon-filter {
	background-image:url(../img/icons/view-filter16.png) ! important;
}
.icon-filter-active {
	background-image:url(../img/icons/view-filter-go16.png) ! important;
}
.icon-stat-cat {
	background-image:url(../img/icons/stat-cat_16.png) ! important;
}
.x-form-field-wrap .trigger-tag-add {
	background-image: url(../img/trigger-tag-add.png);
	cursor:pointer;
}
.x-form-field-wrap .trigger-tag {
	background-image: url(../img/trigger-tag.png);
	cursor:pointer;
}
.x-form-field-wrap .x-trigger-disabled {
	cursor:default;
	opacity:0.5;
	background-position:0 0;
}
.x-form-field-wrap .trigger-tree {
	background-image: url(../img/trigger-tree.png);
	cursor:pointer;
}


/*  Icon Classes end */

