.preview { 
  font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif; 
  padding: 10px;
  color:#000000;
  font-size:14px;
  line-height:19px;
}

.preview h1 { 
  font-size:140%;
  margin:35px 0 13px 0;
}

.preview a:link  { color:#03C; }

.preview a { 
  padding:1px;
  text-decoration:underline;
}

.preview p { 
  margin: 14px 0;
}

.preview li { margin-left: 40px; }
.preview ul { list-style-type: square; }
.preview ol { list-style-type: decimal; }
.preview ul, ol { margin-bottom: 2ex; }

.preview strong { font-weight: bold; }
.preview em { font-style: italic; }

.preview pre { background-color: #ccc; }

.preview table { border: 1px solid #ccc; margin-top: 1ex; width: 80%; margin: 0 auto; }
.preview th { font-weight: bold; padding: 0 1ex; border-bottom: 1px solid #ccc; background-color: #ccc; }