/*
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap-responsive';


#status {
  float: right;
  padding: 5px;
}

body.authenticated {
  #status {
   background-color: green;
  }
}

body.unauthenticated {
  #status {
    background-color: red;
  }
}