  <div class="file" data-id="<%= params[:item_id] %>">
    <div><strong>Filename</strong>: <%= attachment.filename %> <span></span></div>
    <div><strong>Size</strong>: <%= number_to_human_size( File.size(attachment.fullpath) ) %></div>
    <div id="console" style="height: 250px; overflow: scroll;">
    </div>
  </div>

