<p id="wizard">Not familiar with Dradis? Checkout the <a href="/wizard">Wizard</a>.</p>
<h3>Oops, your Dradis server isn't quite ready to go.</h3>
<p class="info">You need to configure your Dradis server before it is ready to use.</p>
<p class="info">Grab a system console and:</p>

<pre>
# cd <%= Rails.root %>
# RAILS_ENV=production bundle exec thor dradis:reset
</pre>

<p class="info">If you've already configured your Dradis, you need to reset the password:</p>

<pre>
# cd <%= Rails.root %>
# RAILS_ENV=production bundle exec thor dradis:reset:password
</pre>
