            <div>
              <div style="text-align: right;"><%= link_bar %></div>
              <pre><%= h(@text) %></pre>
              <div style="text-align: right;">by <em><%= @note.author %></em></div>
              </div>
            </div>

