<% if @new_revision > @old_revision %>
<script type="text/javascript">
 //<![CDATA[
   stop_refresher = true;
   window.setInterval("timeout()", 1000);
  //]]>
</script>
a new revision is available, page refresh in <span id="refresher_countdown">20</span> 
seconds (<a href="#" onclick="javascript:abortCountdown(this);return false;">cancel</a>)
<% end %>