<html>
  <head>
    <title>Foobar</title>
    <%= stylesheet_link_tag    'dradis/frontend/manifests/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dradis/frontend/manifests/application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="unauthenticated">
    <%= yield %>
  </body>
</html>