<!DOCTYPE html>
<html>
  <head>
    <title>Authenticated</title>
    <%= stylesheet_link_tag    'dradis/frontend/manifests/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="authenticated">
    <div class="container">
      <%= yield%>
    </div>

    <%= javascript_include_tag 'dradis/frontend/manifests/application', 'data-turbolinks-track' => true %>
  </body>
</html>