body { 
  background-color: #fff; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
  text-align: center; 
}
a { text-decoration: none; }

.clear { clear:both; }

#wizard {font-size: 80%;}
#wizard a {text-decoration: underline;}
#notice { 
  margin: 0 1ex; 
  border: 1px solid #CCFF00; 
  background-color: #F2FFBF; 
  padding: 1ex; 
  font-family: monospace;
}
#error { 
  margin: 0 1ex; 
  border: 1px solid #D01F3C; 
  background-color: #FFBFDC; 
  padding: 1ex; 
}
#nojs { 
  font-size: 80%; 
  margin: 1ex; 
  border: 1px solid #FFBFDC; 
  color: #D01F3C; 
  padding: 0.5ex;
}
div.main { 
  position: relative; 
  width: 604px; 
  height: 260px;	
  margin: 150px auto 0 auto; 
  text-align: left; 
}
div.main_margin { margin-top: 50px; }
div.main div.top { 
  width: 100%; 
  text-align: center; 
  line-height: 45px; 
  color: #3A94D6; 
  font-size: 16px; 
}
div.main div.content_top {
  width: 636px; 
  height: 10px; 
  background: image-url('box_shared_f_t.gif') left top no-repeat;
  font-size: 0;
}
div.main div.content 
{
  padding: 0 0 15px 0;
  width: 600px;
 	height: auto;
  /*background: url(/images/box_shared_f_c.gif) left top repeat-y;*/
  border: 1px solid green;
  border-width: 0 1px 1px 1px;
}
div.main div.content div.right {text-align: right; padding: 4px;}
div.main div.content_bottom
{
  width: 600px;
  height: 37px;
  color: #3d5919;
  font-size: 13px;
  line-height: 37px;
  text-align: center;
}
div.main div.content_bottom a
{
  color: #3d5919;
  text-decoration: underline;
}
div.main div.content_bottom a:hover
{
  background: image-url('white_2px.gif') left bottom repeat-x;
}
div.text { 
  text-align: center; 
}
div.text form 
{
  text-align: left; 
  padding: 10px;
  margin: 0;
  width: 300px;
  margin: 0 auto 0 auto;
}
input.text, input.password
{
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  padding: 4px;
  border: solid 1px #3d5919;
  width: 100%;
  background-image: image-url( 'grey_bg.png' );
  background-repeat: repeat-x;
  background-position: top;
}
input.text:focus, input.password:focus
{
  background-image: none;
  background-color: #ffffff;
}
.submit 
{ 
  border: none; 
  background-color: #3d5919; 
  font-weight: bold; 
  color: #fff; 
  cursor: pointer; 
  padding: 0.5ex; 
  width: 100px;
}
.submit:hover { background-color: #7FA83E; }

#server_init {
  text-align: left;
  padding: 0.5ex;
  font-size: 90%;
}

#server_init h2 {
  margin: 0;
  width: 95%;
  border-bottom: 1px solid #ddd;
  color: #3D5919;
}

#server_init .form_group {
  width: 80%;
  margin: 1ex auto;
}

#server_init form {
  width: 100%;
  margin: 0;
  padding: 0;
}

#server_init form .form_group div, fieldset div {
  padding-left: 150px;
}

#server_init form label {
  display: inline;
  float: left;
  width: 140px;
  margin-left: -150px; 
  text-align: right;
  color: #000;
}

/* http://fecklessmind.com/2009/01/23/how-to-reliable-css-forms/ */
fieldset { clear: both; border: 0; border-top: 1px solid #ddd; color: #3D5919; width: 80%; margin: 1ex auto;}

legend {padding: 0 0 1.286em; font-size: 1.167em; font-weight: 700; }
fieldset fieldset legend {padding: 0 0 1.5em; font-size: 1em;}
* html legend {margin-left: -7px;} /* ie6 */
*+html legend {margin-left: -7px;} /* ie7 */

input.radio, input.checkbox {vertical-align: top;}
label, button, input.submit, input.image {cursor: pointer;}
* html input.radio, * html input.checkbox {vertical-align: middle;} /* ie6 */
*+html input.radio, *+html input.checkbox {vertical-align: middle;} /* ie7 */


input.text, input.password
{
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  padding: 4px;
  border: solid 1px #3d5919;
  width: 100%;
  background-image: image-url( 'grey_bg.png' );
  background-repeat: repeat-x;
  background-position: top;
}
input.text:focus, input.password:focus
{
  background-image: none; 
  background-color: #ffffff;
}

/* 
 * from the meta-server project browser: 
 * https://dradis.svn.sourceforge.net/svnroot/dradis/meta-server/trunk/public/stylesheets/application.css
 */
#meta_server .links a { text-decoration: underline; color: #2A5685; margin-right: 2ex; }

table { /*border: 1px solid #e4e4e4;*/  border-collapse: collapse; width: 100%; margin-bottom: 4px; font-size: 90%;}
th { 
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-variant: small-caps;
  font-size: 90%;
  padding: 4px;
}
th.ops { width: 25%; }
table tbody tr td { padding: 0.8em 0 0.5em 0.3em; /*font-weight: bold;*/ border-bottom: 1px solid #ccc; padding: 2px;}
table tbody tr:hover { background-color:#ffffdd; }
table tbody tr td.title { background-repeat: no-repeat; }
table tbody tr td.title a { text-decoration: none; color: #2A5685; }
table tbody tr td.title a:hover { text-decoration: underline; }
tr span.expander {background-image: image-url('silk/bullet_toggle_plus.png'); padding-left: 8px; margin-left: 0; cursor: pointer;}
tr.open span.expander {background-image: image-url('silk/bullet_toggle_minus.png');}

.icon {
background-position: 0% 40%;
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
}
.icon-folder { background-image: image-url('silk/folder.png') ! important; }
.icon-package { background-image: image-url('silk/package.png') ! important; }

/* for the configuration error page */
p.info { margin: 0 10px; text-align: left; }
pre { background: #000; color: #fff; margin: 10px; padding:5px; text-align: left; }
