<div class="post">
  <div class="header">&nbsp;</div>
  <div class="content">
    <h2>Community / Help</h2>

    <ul>
      <li><a href="http://dradisframework.org/community/">Community Forums</a></li>
      <li><strong>IRC</strong>: #dradis @irc.freenode.org</li>
      <li><a href="http://dradisframework.org/mailing_lists.html">Developer Mailing Lists</a></li>
      <li><div><strong>Documentation</strong> (FAQ, tutorials, information for developers, etc.):</div>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://dradisframework.org/documentation.html">http://dradisframework.org/documentation.html</a>
      </li>
      <li>Got feedback? Fire away! <a href="mailto:feedback@dradisframework.org">feedback@dradisframework.org</a></li>
    </ul>
  </div>
</div>
