<div class="post">
  <div class="header">&nbsp;</div>
  <div class="content">
    <%= image_tag 'logo_small.png', :class => 'floatleft', :height => 200, :width => 200, :alt => 'Dradis Framework logo' %>

      <h2>What is Dradis?</h2>
      <p><strong>Dradis</strong> is an open source framework to enable effective
      information sharing.</p>
      <p><strong>Dradis</strong> is a self-contained web application that 
      provides a centralised repository of information to keep track of what has 
      been done so far, and what is still ahead. [<a href="http://dradisframework.org/screenshots.html">screenshots</a> - 
      <a href="http://dradisframework.org/demo.html">demo</a>]</p>

 
      <strong>Features</strong> include:
      <ul style="padding-left: 240px;">
        <li>Easy report generation in HTML or <a href="http://dradisframework.org/WordExport_templates.html">Word</a> format.</li>
        <li>Support for attachments.</li>
        <li>Integration with existing systems and tools through <a href="http://dradisframework.org/server_plugins.html">server plugins</a>.</li>
        <li>Platform independent.</li>
      </ul>

  </div>
</div>
