<div class="post">
  <div class="header">&nbsp;</div>
  <div class="content">
    <h2>Interface</h2>
    <p>Dradis follows a traditional <em>email client</em> layout:</p>
    <ul>
      <li>On the left-hand side of the window there is the <strong>nodes tree</strong>. 
      In bigger projects it is useful to structure your notes.</li>
      <li>On the right-hand side you have your notes. In the upper half of the
      window there is a <strong>list of notes</strong> and in the lower section
      there is a <strong>preview</strong> panel.</li>
    </ul>
    <div class="center"><%= image_tag 'wizard/interface.png', :height => 527, :width => 700, :alt => 'Screenshot of the Dradis interface' %></div>
    <p>Just below the notes list there is a tabbed control that lets you choose
    between: </p>
    <ul>
      <li><strong>Notes</strong>: the view shown in the screenshot.</li>
      <li><strong>Import note...</strong>: to invoke the Import plugins (see the 
      section on <%= link_to 'Plugins', wizard_path() + '/plugins' %> of this Wizard).</li>
      <li><strong>Attachments</strong>: so you can attach files to your 
      repository (e.g. a screenshot, a scope document, etc.).</li>
  </div>
</div>
