<div class="post">
  <div class="header">&nbsp;</div>
  <div class="content">
    <h2>Plugins</h2>
    <p>You can extend the Dradis using plugins. There are three basic types of 
    plugins:</p>

    <ul>
      <li><strong>Import</strong>: to add new information into Dradis from 
      external data sources. Two are provided:
      <ul>
        <li><code>MetasploitImport</code>: retrieve information from your <a 
        href="http://metasploit.com">Metasploit</a> instance.</li>
        <li><code>OSVDBImport</code>: run queries against the 
        <a href="http://osvdb.org/">Open Source Vulnerability Database</a> and 
        import the results straight into Dradis.</li>
        <li><code>VulndbImport</code>: if your issue repository is stored in
        <a href="http://vulndbhq.com">VulnDB HQ</a> you can import
        them directly into Dradis.</li>
        <li><code>WikiImport</code>: if you have a collection of template notes in a 
        <a href="http://www.mediawiki.org/">MediaWiki</a> in your network, you 
        can use this plugin to extract information from it.</li>

      </ul>
      <div class="center"><%= image_tag 'wizard/import_plugins.png', :height => 399, :width => 659, :alt => 'The Dradis Note import panel' %></div>
      </li>

      <li><strong>Export</strong>: to get information out of Dradis (see the 
      section on <%= link_to 'Reporting', wizard_path() + '/reporting' %>). To see these
      plugins in action, use the <strong>Export</strong> menu in the toolbar:
      <div class="center"><%= image_tag 'wizard/export_plugins.png', :height => 108, :width => 224, :alt => 'A zoomed in screenshot of the Dradis Export menu' %></div>
      </li>
      <li><strong>Upload</strong>: plugins that let you upload and process a 
      file (e.g. output produced by a tool). Choose <code>import from file...</code> 
      to select among:
        <ul>
          <li><code>BurpUpload</code>: web application scanner - <a href="http://portswigger.net/">Burp Scanner</a></li>
          <li><code>NessusUpload</code>: the vulnerability scanner - <a href="http://www.nessus.org/nessus/">Nessus</a></li>
          <li><code>NexposeUpload</code>: the community version of the scanner - <a href="http://www.rapid7.com/products/nexpose-community-edition.jsp">NeXpose</a></li>
          <li><code>NiktoUpload</code>: web server scanner - <a href="http://cirt.net/nikto2">Nikto</a></li>
          <li><code>NmapUpload</code>: for all your network mapping needs - <a href="http://nmap.org/">Nmap</a></li>
          <li><code>OpenvasUpload</code>: vulnerability assessment - <a href="http://openvas.org/">OpenVAS</a></li>
          <li><code>RetinaUpload</code>: vulnerability scanner - <a href="http://www.eeye.com/products/retina/community">Retina Community</a></li>
          <li><code>SurecheckUpload</code>: build review tool - <a href="http://wildcroftsecurity.com/">SureCheck</a></li>
          <li><code>W3afUpload</code>: web application attack and audit framework - <a href="http://w3af.sourceforge.net/">w3af</a></li>
          <li><code>WxfUpload</code>: the web exploitation framework - <a href="https://github.com/WebExploitationFramework/wXf">wXf</a></li>
          <li><code>ZapUpload</code>: web application assessment - <a href="https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project">OWASP Zed Attack Proxy Project</a></li>
        </ul>
      <div class="center"><%= image_tag 'wizard/upload_plugins.png', :height => 223, :width => 313, :alt => 'The Dradis Import from file dialog' %></div>
      </li>
    </ul>
  </div>
</div>
