<div class="post">
  <div class="header">&nbsp;</div>
  <div class="content">
    <h2>Reporting</h2>

    <p>This release comes with two report generators: </p>
    <ul>
      <li><code>HtmlExport</code>: to generate HTML reports.</li>
      <li><code>WordExport</code>: to generate reports in Microsoft Word format.</li>
    </ul>

    <p>The first thing you need to know is that inside the <code>Text</code> 
    field of your notes you can define multiple fields. For instance, the note
    in the screenshot below defines these fields: <strong>Title</strong>, <strong>Risk</strong>, 
    <strong>Description</strong> and <strong>Recommendation</strong>. The 
    reporting plugins will use these fields to fill in the templates and 
    generate your final reports.</p>

    <div class="center"><%= image_tag 'wizard/note_editor.png', :height => 492, :width => 650, :alt => 'A screenshot of the Dradis Note Editor window' %></div>

    <h3>HTML Reporting</h3>
    <p>The <code>HTMLExport</code> plugin will generate an HTML report of all 
    the notes assigned to the <strong>HTMLExport ready</strong> category.</p>

    <p>You can style your notes using the 
    <strong>Textile</strong> markup language. Learn more and try it out: <a href="http://redcloth.org/try-redcloth/">http://redcloth.org/try-redcloth/</a></p>

    <p>The report will be generated from the 
    <a href="http://www.ruby-doc.org/stdlib/libdoc/erb/rdoc/">ERB template</a> 
    located in your installation folder under:</p>
    <div><code>server/vendor/plugins/html_export/template.html.erb</code></div>

    <h3>Word Reporting</h3>
    <p>The <code>WordExport</code> plugin will generate an HTML report of all 
    the notes assigned to the <strong>WordExport ready</strong> category.</p>

    <p>The report will be genrated from the Word template located in your 
    installation folder under:</p>
    <div><code>server/vendor/plugins/word_export/template.xml</code></div>

    <p>To learn more about how to create and use your own Word template, see
    the <a href="http://guides.dradisframework.org/word_reports.html">WordExport report templates</a>
    guide.</p>

    <p>This plugin does not support styling at the moment, so you will need to
    keep your notes in plain text.</p>
  </div>
</div>
