<div class="post">
  <div class="header">&nbsp;</div>
  <div class="content">
    <h2>Users and Passwords</h2>

    <p>You <strong>don't</strong> need to create users and passwords. In Dradis 
    authentication is based on the knowledge of a <strong>shared password</strong>.</p>

    <p>This is because Dradis is specially tailored to small dynamic teams that
    change quickly and that don't last more than a few weeks. To avoid the 
    hassle of needing to create new users and assign passwords all the time, 
    the team can agree on a password, and then <strong>everybody can log into the
    environment using it</strong>.</p>

    <p>Every time you reset your server, you will be asked to provide a new
    password for the repository. Choose one and communicate it to the rest of
    your team.</p>

    <p>In the <strong>Login Page</strong> pick a username of your choice and use
    the <em>shared password</em> to access.</p>
  </div>
</div>
