<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>dradis: <%= controller.controller_name() %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'dradis' %>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
</head>
<body>
  <!--<h1><%= controller.controller_name() %>: <%= controller.action_name %></h1>-->
  <p style="color: green"><%= flash[:notice] %></p>
  <div id="wrap">
    
    <div id="content">
    <%= @content_for_layout %>
    </div>
    
    <div id="sidebar">
     <!--div id="feed">
      <ul>
        <li>00:00:00</li>
      </ul>
      </div-->
      <%#= periodically_call_remote(:url => {:action=>'num', :id=>host.id}, :frequency => 4, :update => "host_note_count_#{host.id}") %>

      general
      <ul>
        <li><%= link_to "summary", {:controller => 'summary'} %></li>
      </ul>
      active scaffolding
      <ul>
        <li><%= link_to "protocols", {:controller => 'protocols'} %></li>
        <li><%= link_to "hosts", {:controller => 'hosts'} %></li>
        <li><%= link_to "services", {:controller => 'service'} %></li>
        <li><%= link_to "tickets", {:controller => 'tickets'} %></li>
        <li><%= link_to "note categories", {:controller => 'category'} %></li>
        <li><%= link_to "dradis server settings", {:controller => 'config'} %></li>
      </ul>

    </div>    
    
  </div>
</body>
</html>
