<html>
  <head>
    <title>Welcome to dradis</title>
    <%= stylesheet_link_tag 'welcome.css' %>
  </head>
  <body>
    <div class="main main_margin">

  		<div class="top">Welcome to dradis v2.1.1</div>
      <div class="content_top"></div>
  	  <div class="content">								
			  	<div class="text">					
            <%= @content_for_layout %>
            <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
            <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
            <noscript><div id="nojs">Please enable JavaScript support.</div></noscript>
  			  </div>
	  	</div>
      <div class="content_bottom">
        effective information sharing - <a href="http://dradis.sourceforge.net/">dradis framework</a>	
  		</div>
    </div>

  </body>
</html>
