<html>
  <head>
    <title>First Time User's Wizard</title>
    <style>
      * {
        padding: 0px;
        margin: 0px;
      }

      body {
        background: #F9F9F7 url('../images/wizard/a1.gif') repeat-x;
        font-family: "trebuchet ms", helvetica, sans-serif;
        color: #8C8C73;
        line-height: 18px;
      }


      a img { border: none; }
      a { color: #0000FF; }

      p {
        margin-bottom: 14px;
        text-align: justify;
      }

      h2 {
        position: relative;
        top: 4px;
        font-size: 18px;
        line-height: 25px;
        color: #656551;
        letter-spacing: -1px;
        background: url('../images/wizard/a22.gif') bottom repeat-x;
        padding: 0px 0px 10px 15px;
        margin-bottom: 20px;
      }

      ul, li{border:0; margin:0; padding:0; list-style:none;}
      .tab {
        border-bottom:solid 1px #DEDEDE;
        height:29px;
        padding-left:20px;
      }
      .tab li {float:left; margin-right:2px;}
      .tab a:link, .tab a:visited{
        background:url('../images/wizard/tab-round.png') right 60px;
        color:#666666;
        display:block;
        font-weight:bold;
        height:30px;
        line-height:30px;
        text-decoration:none;
      }
      .tab a span{
        background:url('../images/wizard/tab-round.png') left 60px;
        display:block;
        height:30px;
        margin-right:14px;
        padding-left:14px;
      }
      .tab a:hover{
        background:url('../images/wizard/tab-round.png') right 30px;
        display:block;
      }
      .tab a:hover span{
        background:url('../images/wizard/tab-round.png') left 30px;
        display:block;
      }

      /* -------------------------------- */
      /* ACTIVE ELEMENTS */
      .active a:link, .active a:visited, .active a:visited, .active a:hover{
        background:url('../images/wizard/tab-round.png') right 0 no-repeat;
      }
      .active a span, .active a:hover span{
        background:url('../images/wizard/tab-round.png') left 0 no-repeat;
      }

      #container {
        width: 75%;
        margin: 0 auto;
        background-color: #FFF;
        padding: 20px 40px;
        border: solid 1px #CCC;
        margin-top: 20px;
      }

      #back { font-size: 80%; border: 0; margin: 0; float: right; }
      #footer { 
        text-align: right; 
        padding-right: 69px;
        min-height: 64px;
        height: auto !important;
        height: 64px;
        background: url('../images/logo_tiny.png') 100% 50% no-repeat;
      }

      .post { margin-bottom: 30px; }
      .post .header { position: relative; }
      .post .content { margin-bottom: 0px; }
      .post .footer {
        position: relative;
        top: -10px;
        background: url('../images/wizard/a33.gif') repeat-x;
        height: 64px;
      }
      .post .footer ul {
        list-style: none;
        position: absolute;
        right: 15px;
        bottom: 15px;
      }

      .post .footer ul li {
        display: inline;
        line-height: 14px;
        padding-left: 17px;
        margin-left: 25px;
        background-repeat: no-repeat;
        background-position: 0px 2px;
      }
      .post .footer ul li.readmore { background-image: url('../images/wizard/a38.gif'); }

      


    </style>
    <%= javascript_include_tag 'prototype' %>
  </head>
  <body>
    <div id="container"> 
      <div id="back"><a href="/">&lsaquo; back to the app.</a></div>
<%= @content_for_layout %>
      <div id="footer">
        <br/>
        effective information sharing<br/>
        <a href="http://dradisframework.org">http://dradisframework.org</a>
      </div>
    </div>
  </body>
</html>
